h1 {
    text-align: center;
}

body {
    font-family: gill sans, sans-serif;
    background-image: url('sand%20bg.jpg');
    background-repeat:repeat;
  background-size: 1560px;
   }
   
   .topnav {
  overflow: hidden;
  background-color: #4fa3ab;
}


   .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

   .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.pos_cen
{
    position: absolute;
    width:85%;
    margin-top: 100px;
    margin-bottom: 50px;
    left:10%;
    top:20%;
    background-color: #4fa3ab;
    padding: 30px;
}

h2{
    color: white;
}

h3{
    color:whitesmoke;
    text-indent: 20px;
}

p {
    text-align: left;
    margin-right: 60px;
    color: white;
}
